<!DOCTYPE html>
<html>
<head>
    <title>Places notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2dTR78NRe6jNs2Ce59i0XtpITpjtVv8s&libraries=places"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-app="app" ng-controller="loginController">
<div class="row full-height">
    <div class="col-md-8 well" id="map" ng-controller="mapController" ng-init="initMap()"></div>
    <div class="col-md-4">
        <div class="loginInfo" ng-show="!authenticated">
            <div>
                <a href="/login/google">Sign in with google</a>
            </div>
        </div>
        <div class="loginInfo" ng-show="authenticated">
            Logged in as: {{userName}} |
            <a href="" ng-click="logout()">Logout</a>
        </div>
        <button type="button" style="width:300px"  class="btn btn-default" data-toggle="modal" data-target="#userPlacesModal" ng-show="authenticated">Show my places</button>
        <div class="modal fade" id="userPlacesModal" role="dialog" align="left">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" align="left">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">My places</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="list-group" id="user-places-list" ng-controller="userPlacesController" ng-init="updatePlaces(userName)">
                                <a href="#" class="list-group-item"  ng-repeat="place in userPlaces">
                                    <button type="button" class="list-group-item" ng-click="handleClick(userPlaces[$index], userName)">{{places[place].name}}, {{places[place].address}}</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3 ng-show="!placeSelected">Select place on map to see reviews.</h3>
        <h3 ng-show="!authenticated">Sign in to add your own private notes about places.</h3>
        <h3 ng-show="placeSelected">Google users reviews</h3>
        <div class="list-group" id="review-list" ng-controller="reviewController" ng-show="placeSelected">
            <a href="#" class="list-group-item"  ng-repeat="review in reviews">
                <h6 class="list-group-item-heading"><b>{{review.author_name}}</b></h6>
                <h6 class="list-group-item-text">{{review.text}}</h6>
            </a>
            <a href="#" class="list-group-item"  ng-hide="reviews.length">Empty reviews list</a>
        </div>
        <h3 ng-show="authenticated && placeSelected"> My notes</h3>
        <div class="list-group" id="note-list" ng-controller="noteController" ng-init="updateNotes()" ng-show="authenticated && placeSelected">
            <a href="#" class="list-group-item"  ng-repeat="note in notes">
                <h6 class="list-group-item-text">{{note.text}}
                    <button class="btn btn-xs pull-right" ng-click="removeNote(note.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button class="btn btn-xs pull-right" data-toggle="modal" data-target="#editNoteModal" id="em" data-note={{note.text}} data-id={{note.id}} ng-click="setNoteID(note.id, note.text)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                    <div class="modal" id="editNoteModal" role="dialog" align="left">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header" align="left">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Edit Note</h4>
                                </div>
                                <div class="modal-body" id="mb">
                                    <div class="form-group">
                                        <label for="editNoteContent">Note:</label>
                                        <textarea class="form-control" rows="3" id="editNoteContent">{{editNoteText}}</textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="editNote(editNoteID)" id="saveBtn">Save note</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </h6>
            </a>
            <a href="#" class="list-group-item"  ng-hide="notes.length">Empty notes list</a>
        </div>
    </div>
    <div align="right" style="margin: 20px" ng-show="authenticated && placeSelected">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newNoteModal">Add note</button>

        <div class="modal fade" id="newNoteModal" role="dialog" align="left">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" align="left">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Note</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="newNoteText">Note:</label>
                            <textarea class="form-control" rows="5" id="newNoteText"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer" ng-controller="noteController">
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addNote(userName)">Add Note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var map;
    var markers = [];

    function addMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            label: "",
            map: map
        });

        marker.addListener('click', function() {
            marker.setMap(null)
        })
        markers.push(marker);
    }

    function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(map);
        }
    }
    function clearMarkers() {
        setMapOnAll(null);
    }
    function deleteMarkers() {
        clearMarkers();
        markers = [];
    }
</script>
</body>
</html>