#map {
    height: 100%;
}

html, body, .full-height {
    height: 100%;
    margin: 0;
    padding: 0;
    background: cadetblue;
}

.loginInfo {
    text-align: right;
    width: auto;
}

#review-list {
    height: auto;
    margin: 0;
    max-height: 250px;
    overflow-y: auto;
}

#note-list {
    height: auto;
    margin: 0;
    max-height: 230px;
    overflow-y: auto;
}

#user-places-list {
    height: auto;
    margin: 0;
    max-height: 230px;
    overflow-y: auto;
}